.text-gradient
	line-height: 120%
	background: linear-gradient(90deg, #1C2540 0%, #7C2781 36.81%), #1C2540
	background-clip: border-box
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent

.text-gradient-hover
	background: #0b0f18
	background-clip: border-box
	-webkit-background-clip: text
	-webkit-text-fill-color: transparent

	&:hover
		background: linear-gradient(90deg, #1C2540 0%, #7C2781 36.81%), #1C2540
		background-clip: border-box
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
