.car-card-carousel
	.card
		border: none

		.card-images
			margin-bottom: -10px
			transition: all .3s

			&:hover
				filter: drop-shadow(-5px 8px 14px rgba(83, 6, 102, 0.22))
			.tmb-wrap
				height: calc(100% - 10px)
				.tmb-wrap-table
					> div
						&:first-child
							border-top-left-radius: 8px
							border-bottom-left-radius: 8px

						&:last-child
							border-top-right-radius: 8px
							border-bottom-right-radius: 8px

			.image-wrap
				img
					aspect-ratio: 8 / 5
					object-fit: cover
					object-position: center
					border-radius: 8px

		.card-body
			padding: 16px 0 0 0
			position: relative

			@media (max-width: 575px)
				padding-top: 8px

			a
				display: inline-block

			.card-text
				font-size: 24px
				font-weight: bold
				margin-bottom: 0
				overflow: hidden
				text-overflow: ellipsis
				display: -webkit-box
				-webkit-line-clamp: 1
				-webkit-box-orient: vertical
			small
				font-weight: 400
				font-size: 16px
				color: #1C2540

				@media (max-width: 575px)
					font-size: 12px

			.arrow-click
				position: absolute
				top: 65%
				right: 0
				transform: translateY(-50%)
