section.content-section
	.container
		.row
			.main-content
				h1, h2, h3, h4, h5, h6
					background: linear-gradient(90deg, #1C2540 0%, #7C2781 36.81%), #1C2540
					background-clip: border-box
					-webkit-background-clip: text
					-webkit-text-fill-color: transparent

				p, li, ol
					font-size: 16px
					font-weight: normal
					color: #1C2540

					&:last-of-type
						margin-bottom: 0

					&:last-child
						margin-bottom: 0

				.roll-up-text-content

					p
						+vertical-lines(3)

						@media (max-width: 575px)
							font-size: 14px

						&:last-of-type
							margin-bottom: 0

						&::before
							content: ''
							position: absolute
							top: 0
							left: 0
							width: 100%
							height: 100%
							box-shadow: 0px -60px 28px -32px rgba(255, 255, 255, 1) inset
							pointer-events: none

					button.roll-up-text-button
						border: none
						background: none
						padding: 0
						font-weight: bold
						font-size: 16px
						line-height: 120%
						text-decoration-line: underline
						color: #1C2540

						@media (max-width: 575px)
							font-size: 14px
