footer {
	background: #f6f7f8;
	.container {
		position: relative;

		h4 {
			margin-bottom: 5px !important;
		}

		.row:first-child {
			display: grid;
			row-gap: 30px;

			&::after {
				content: '';
				position: absolute;
				border-bottom: 1px solid #acacad;
				width: calc(100% - 32px);
				top: 70px;
				left: 0;
				right: 0;
				margin: 0 auto;

				@media (max-width: 575px) {
					top: 56px;
				}
			}

			i {
				margin-right: 10px;
			}
			.footer-image {
				grid-area: imag;
				padding-right: 70px;
				padding-top: 6px;

				@media (max-width: 575px) {
					width: 70%;
				}
			}

			.phone-area-footer {
				grid-area: teel;
			}

			.email-area-footer {
				grid-area: mail;
			}

			.address-area-footer {
				grid-area: addr;
			}

			.navigation-area-footer {
				grid-area: navi;

				.nav-items-wrapper {
					width: 100%;
				}
			}

			.social-icons-area-footer {
				grid-area: soci;

				.social-items-list {
					display: flex;
					flex-wrap: wrap;
					gap: 20px;
					list-style: none;
					font-size: 16px;
					a {
						display: flex;
						align-items: center;
						span {
							margin-right: 10px;
							font-size: 26px;
						}
					}
				}
			}

			.shedule-area-footer {
				grid-area: time;
			}

			grid-template-areas:
				'imag teel mail addr'
				'soci time navi navi';

			@media (max-width: 575px) {
				grid-template-areas:
					'imag'
					'navi'
					'teel'
					'mail'
					'time'
					'addr'
					'soci';
			}
		}

		.footer-footer-line {
			box-sizing: border-box;
			margin-top: 30px;
			border-top: 1px solid #acacad;
			color: #979797;

			@media (max-width: 575px) {
				display: flex;
				flex-direction: column;
				font-size: 14px;

				line-height: 120%;
			}

			a {
				color: inherit;
			}

			.col:first-child {
				@media (max-width: 575px) {
					margin-bottom: 16px;
				}
			}
		}
	}
}
