footer {
	background: #f6f7f8;
	.container {
		position: relative;

		h4 {
			margin-bottom: 5px !important;

			@media (max-width: 575px) {
				font-size: 16px !important;
			}
		}

		a {
			@media (max-width: 575px) {
				font-size: 14px !important;
			}
		}

		.row:first-child {
			display: grid;
			row-gap: 30px;

			a {
				color: #979797;

				&:hover {
					color: darken(#979797, 30%);
				}
			}

			&::after {
				content: '';
				position: absolute;
				border-bottom: 1px solid #acacad;
				width: calc(100% - 32px);
				top: 68px;
				left: 0;
				right: 0;
				margin: 0 auto;

				@media (max-width: 767px) {
					top: 84px;
				}

				@media (max-width: 575px) {
					top: 51px;
				}
			}

			i {
				margin-right: 10px;
			}
			.footer-image {
				grid-area: imag;

				padding-right: 50px;
				padding-top: 3px;
				width: 333px;

				@media (max-width: 767px) {
					padding-top: 20px;
				}

				@media (max-width: 575px) {
					width: 240px;
					padding-top: 3px;
				}
			}

			.phone-area-footer {
				grid-area: teel;
			}

			.email-area-footer {
				grid-area: mail;
			}

			.address-area-footer {
				grid-area: addr;
			}

			.navigation-area-footer {
				grid-area: navi;

				.nav-items-wrapper {
					width: 100%;
				}
			}

			.social-icons-area-footer {
				grid-area: soci;
				padding-top: 10px;

				@media (max-width: 1199px) {
					padding-top: 0;
				}

				.social-items-list {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					gap: 20px;

					list-style: none;
					font-size: 16px;

					@media (max-width: 991px) {
						width: 50%;
					}

					@media (max-width: 575px) {
						width: 100%;
					}

					a {
						position: relative;
						padding-left: 36px;
						color: #979797;

						&.whatsapp-svg {
							@include whatsapp(32px, 32px);
						}

						&.vkontakte-svg {
							@include vk(32px, 32px);
						}

						&.youtube-svg {
							@include youtube(32px, 32px);
						}

						&.telegram-svg {
							@include telegram(32px, 32px);
						}

						span {
							margin-right: 10px;
							font-size: 26px;
						}
					}
				}
			}

			.shedule-area-footer {
				grid-area: time;
				p {
					color: #979797;
					font-weight: normal;

					br {
						@media (max-width: 767px) {
							display: none;
						}
					}
				}
			}

			grid-template-areas:
				'imag teel mail addr'
				'soci time navi navi';

			@media (max-width: 1199px) {
				grid-template-areas:
					'imag imag imag '
					'navi teel mail'
					'soci time addr';
			}

			@media (max-width: 991px) {
				grid-template-areas:
					'imag imag imag '
					'navi navi teel'
					'time mail addr'
					'soci soci soci';
			}

			@media (max-width: 767px) {
				grid-template-areas:
					'imag'
					'navi'
					'teel'
					'mail'
					'time'
					'addr'
					'soci';
			}
		}

		.footer-footer-line {
			box-sizing: border-box;
			margin-top: 30px;
			border-top: 1px solid #acacad;
			color: #979797;

			@media (max-width: 575px) {
				display: flex;
				flex-direction: column;
				font-size: 14px;

				line-height: 120%;
			}

			a {
				color: inherit;
			}

			.col:first-child {
				@media (max-width: 575px) {
					margin-bottom: 16px;
				}
			}
		}
	}
}
