.gallery-card-single
	.card
		// z-index: 1
		.card-images

			img
				height: 235px
				width: 100%
				object-fit: cover
				object-position: center
				border-top-left-radius: 1rem
				border-top-right-radius: 1rem
		.card-body
			// height: 92px
			a
				display: inline
				+vertical-lines(1)
				margin: 0
