section.page-title-section
	position: relative
	padding-top: 73px
	background: white

	div[class^="container"]

		.row
			.col

				nav
					width: fit-content

					ol.breadcrumb
						background-color: transparent
						padding: 0 0 14px 0

						margin-bottom: 0

						font-size: 16px
						font-weight: normal
						color: #8C93A9

						a
							text-decoration: none
							color: 	inherit
							transition: .2s ease-out .1s
							&:hover

								color: darken(#8C93A9, 20%)

						li
							color: 	inherit
							font-weight: inherit

							&::before
								color: inherit

							&:last-child
								user-select: none
