section.page-title-section
	position: relative
	padding-top: 73px
	background: white

	margin-bottom: 0.5rem

	@media (max-width: 991px)
		padding-top: 64px

	@media (max-width: 767px)
		padding-top: 62px

	@media (max-width: 575px)
		padding-top: 51px

	div[class^="container"]

		.row
			.col

				nav
					width: fit-content
					overflow: hidden
					width: 100%

					@media (max-width: 575px)
						overflow: auto
						overflow-y: hidden

					ol.breadcrumb
						background-color: transparent
						// padding: 0 0 14px 0

						margin-bottom: 0

						font-size: 16px
						font-weight: normal
						color: #8C93A9
						scrollbar-width: none

						&::-webkit-scrollbar
							display: none

						@media (max-width: 575px)
							flex-wrap: nowrap
							overflow-x: scroll
							white-space: nowrap

						li
							color: 	inherit
							font-weight: inherit

							@media (max-width: 767px)
								font-size: 14px

							@media (max-width: 575px)
								font-size: 12px
								display: inline

							&::before
								color: inherit
								padding-right: 5px
								float: none

							&:not(:first-child)
								padding-left: 5px

							&:last-child
								user-select: none

							a
								text-decoration: none
								color: 	inherit
								font-size: inherit !important
								transition: .2s ease-out .1s
								&:hover
									color: darken(#8C93A9, 20%)
