<div class="advantages-block container">
	<div class="row">
		<div class="col text-center main-header">
			<h1 class="mb-5 position-relative header-element text-gradient">Наши<span class="fw-bold"> преимущества</span></h1>
			<!-- <p class="lead">Собственный автопарк SanaevMoscow представлен коллекцией элитных автомобилей. Вы можете оформить услугу проката авто люкс класса за считанные минуты и уже в течение часа оказаться за рулем одного из наших красавцев.</p> -->
		</div>
	</div>
	<div class="row mt-6">
		<div class="col-sm-12 col-md-12 col-lg-6">
			<!-- Icon Box -->
			<div class="card border-gray-300 mb-4">
				<div class="card-body">
					<div class="d-flex p-3">
						<div class="">
							<div class="icon icon-primary">
								<span class="fas fa-clock text-gradient"></span>
							</div>
						</div>
						<div class="ps-4">
							<h3 class="h5 icon-box-title">Пунктуальность</h3>
							<p class="icon-box-text">Четкая координация и организация рабочего процесса позволяет нам гарантировать безупречное выполнение своих обязательств.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Icon Box -->
		</div>
		<div class="col-sm-12 col-md-12 col-lg-6">
			<!-- Icon Box -->
			<div class="card border-gray-300 mb-4">
				<div class="card-body">
					<div class="d-flex p-3">
						<div>
							<div class="icon icon-primary">
								<span class="fas fa-check-double text-gradient"></span>
							</div>
						</div>
						<div class="ps-4">
							<h3 class="h5 icon-box-title">Качество автомобилей</h3>
							<p class="icon-box-text">В нашем автопарке только качественные автомобили, техническое состояние которых всегда под нашим контролем.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Icon Box -->
		</div>
		<div class="col-sm-12 col-md-12 col-lg-6">
			<!-- Icon Box -->
			<div class="card border-gray-300 mb-4">
				<div class="card-body">
					<div class="d-flex p-3">
						<div>
							<div class="icon icon-primary">
								<span class="fas fa-grin-alt text-gradient"></span>
							</div>
						</div>
						<div class="ps-4">
							<h3 class="h5 icon-box-title">Только яркие эмоции</h3>
							<p class="icon-box-text">Мы организуем для вас яркую и незабываемую праздничную программу с посещением интересных мест города.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Icon Box -->
		</div>
		<div class="col-sm-12 col-md-12 col-lg-6">
			<!-- Icon Box -->
			<div class="card border-gray-300 mb-4">
				<div class="card-body">
					<div class="d-flex p-3">
						<div>
							<div class="icon icon-primary">
								<span class="far fa-grin-stars text-gradient"></span>
							</div>
						</div>
						<div class="ps-4">
							<h3 class="h5 icon-box-title">Опыт работы</h3>
							<p class="icon-box-text">Большой опыт работы в сфере организации праздников – мы знаем, как сделать ваш день рождения особенным.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- End of Icon Box -->
		</div>
	</div>
</div>
