<div class="container">
	<div class="row">
		<div class="col">
			<h1 class="h2 mb-2 p-0 text-gradient text-start">@@title</h1>
			<div class="card p-4">
				<div class="col-12 py-0 px-1 py-md-3 px-md-4">
					<div class="row justify-content-center">
						<div class="col-12 col-md-4">
							<div class="mb-4">
								<div class="input-group">
									<input class="form-control" placeholder="Имя" type="text" required="" />
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4">
							<div class="mb-4">
								<div class="input-group">
									<input class="form-control" placeholder="Телефон" type="text" required="" />
								</div>
							</div>
						</div>

						<div class="col-12 col-md-4">
							<div class="mb-4">
								<div class="input-group" data-provide="datepicker">
									<input class="form-control" data-datepicker="" id="exampleInputDate1" placeholder="Select date" type="text" aria-label="Date with icon left" />
									<span class="input-group-text" id="datepicker"><img src="../../assets/images/elements/calendar.svg" alt="calendar" /></span>
								</div>
							</div>
						</div>

						<div class="col-12">
							<div class="mb-4">
								<div class="input-group">
									<input type="text" class="form-control" required="" placeholder="Пожелания" />
								</div>
							</div>
						</div>

						<div class="col-12">
							<div class="form-check">
								<input class="form-check-input" id="confirmInformation" type="checkbox" />
								<label class="form-check-label" for="confirmInformation">
									Я согласен на обработку
									<a href="">персональных данных</a>
								</label>
							</div>
						</div>

						<div class="col-12">
							<button class="btn btn-submit mt-3" href="#">Заказать</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
