<div class="col col-lg-4 mb-3 mb-sm-4 mb-lg-0 car-card">
	<div class="card shadow-lg">
		<div class="card-images images-toggle">
			<!-- card-image -->
			@@include('./components/car-card/_card-image.html', { "imageCar": "@@imageCar", "path": "@@path" } )
		</div>

		<div class="card-body">
			<h3 class="card-text">@@carName</h3>
			<div class="d-flex justify-content-between align-items-center">
				<small>@@carPrice</small>
				<a href="@@path/html/pages/single-car.html" class="btn btn-sm btn-outline-secondary text-gradient-hover">Подробнее</a>
			</div>
		</div>
	</div>
</div>
