<div class="car-card">
	<div class="card">
		<a href="@@path/html/pages/single-car.html" class="">
			<div class="card-images mb-0">
				<div class="inner-image-car-card-carousel">
					<div class="carousel__slide">
						<img class="bd-placeholder-img" src="@@path/assets/images/car-card/@@imageCar" alt="" />
					</div>
					<div class="carousel__slide">
						<img class="bd-placeholder-img" src="@@path/assets/images/car-card/@@imageCar" alt="" />
					</div>
					<div class="carousel__slide">
						<img class="bd-placeholder-img" src="@@path/assets/images/car-card/@@imageCar" alt="" />
					</div>
				</div>
			</div>
		</a>

		<div class="card-body">
			<h3 class="card-text">
				<a href="@@path/html/pages/single-car.html" class="">@@carName</a>
			</h3>
			<div class="d-flex justify-content-between align-items-center">
				<small>@@carPrice</small>
			</div>

			<a class="arrow-click" href="@@path/html/pages/single-car.html"><img src="@@path/assets/images/elements/diagonal-arrow-right-up.svg" alt="" /></a>
		</div>
	</div>
</div>
