<div class="col mb-1 mb-sm-4 mb-lg-0 car-card-carousel">
	<div class="card">
		<div class="card-images images-toggle">
			<!-- prettier-ignore -->
			@@loop('./components/car-card/_card-image.html',[ 
				{ "path": "@@path", "imageCar": "reno-01.jpg" },
				{ "path": "@@path", "imageCar": "reno-02.jpg" }, 
				{ "path": "@@path", "imageCar": "reno-03.jpg" }, 
				{ "path": "@@path", "imageCar": "reno-04.jpg" }, 
			])
		</div>

		<div class="card-body">
			<h3 class="card-text">
				<a href="@@path/html/pages/single-car.html">@@carName</a>
			</h3>
			<div class="d-flex justify-content-between align-items-center">
				<small>@@carPrice</small>
			</div>
			<a class="arrow-click" href=""><img src="@@path/assets/images/elements/diagonal-arrow-right-up.svg" alt="" /></a>
		</div>
	</div>
</div>
