<div class="col mb-1 mb-sm-4 mb-lg-0 car-card">
	<div class="card">
		<div class="card-images images-toggle">
			<!-- card-image -->
			@@include('./components/car-card/_card-image.html', { "imageCar": "@@imageCar", "path": "@@path" } )
		</div>

		<div class="card-body">
			<h3 class="card-text">
				<a href="@@path/html/pages/single-car.html" class="">@@carName</a>
			</h3>
			<div class="d-flex justify-content-between align-items-center">
				<small>@@carPrice</small>
			</div>

			<a class="arrow-click" href=""><img src="@@path/assets/images/elements/diagonal-arrow-right-up.svg" alt="" /></a>
		</div>
	</div>
</div>
