<div class="col service-card-single">
	<div class="card">
		<!-- prettier-ignore -->
		<div class="card-images">
			<!-- card-image -->
			@@include('./components/car-card/_card-image-service.html', { 
				"imageService": "@@imageService", 
				"path": "@@path" 
			})	
		</div>

		<div class="card-body pt-0 pt-md-1 pb-0 pb-sm-2 pb-lg-3">
			<h4 class="mb-0 card-text"><a href="@@path/html/pages/single-service.html" class="text-gradient-hover">@@serviceName</a></h4>
			<small>@@servicePrice</small>
		</div>
	</div>
</div>
