<div class="col service-card-single">
	<div class="card">
		<!-- prettier-ignore -->
		<div class="card-images">
			<!-- card-image -->
			<a href="@@path/html/pages/single-service.html">
				@@include('./components/car-card/_card-image-service.html', { 
				"imageService": "@@imageService", 
				"path": "@@path" 
			})	
			</a>
		</div>

		<div class="card-body">
			<h4 class="mb-0 card-text"><a href="@@path/html/pages/single-service.html">@@serviceName</a></h4>
			<small>@@servicePrice</small>
		</div>
	</div>
</div>
