
section.cars-block-types-catalog-section
	.container-fluid
		.row

			#cars-types-catalog

				--carousel-button-bg: #fff

				--carousel-button-width: 50px
				--carousel-button-height: 50px

				--carousel-button-svg-width: 18px
				--carousel-button-svg-height: 18px
				--carousel-button-svg-stroke-width: 1.5

				position: relative

				.carousel__nav

					button
						background: white
						box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 0.5)

						&.is-next
							top: 45%
							right: -0.7rem

							&:disabled
								opacity: 0
								right: -10%
								transition: all .5s
							svg
								margin-left: 1px
								margin-top: 1px

						&.is-prev
							top: 45%
							left: -0.7rem

							&:disabled
								opacity: 0.6
								left: -10%
								transition: all .5s
							svg
								margin-right: 1px
								margin-top: 1px

				.carousel__viewport
					width: calc(100% + 16px)
					max-width: none
					margin-left: -16px

					.carousel__track

						.carousel__slide
							max-width: fit-content

							.checkbox-style
								display: block
								position: relative
								height: 100px
								width: 100px
								overflow: initial
								text-align: center
								border-radius: 0.25rem
								box-shadow: 0px 0px 3px 0px rgba(75, 75, 75, 0.52)

								span
									font-size: 12px
									font-weight: normal

								input[type=checkbox]
									appearance: none

									display: block
									cursor: pointer

									position: relative
									z-index: -1

									width: 100%
									height: 100%
									padding: .4rem

									background-size: contain
									background-repeat: no-repeat
									background-position: center
									background-origin: content-box

									border-radius: 0.25rem
									transition: all .1s

								input[type=checkbox]:checked
									background-size: contain
									background-repeat: no-repeat
									background-position: center

									// outline: 1px solid #ff60009e
									box-shadow: -5px 8px 14px rgba(63, 60, 66, 0.32)
									border-radius: 0.25rem
									transition: all .3s
									filter: invert(11%) sepia(56%) saturate(500%) hue-rotate(250deg) brightness(77%) contrast(125%)

								input[type=checkbox]:active
									background-size: contain
									background-repeat: no-repeat
									background-position: center

section.filter-bar-catalog-section

	border-radius: 8px
	.container-fluid
		.row
			.selectors-panel
				display: flex
				flex-wrap: wrap
				height: 48px
				.select-wrapper
					display: flex
					width: 100%
					.select
						display: block
						flex-basis: 100%
						// flex: 1 1 auto
						// max-width: 215px
						// width: 100%
						position: relative

						&:first-child
							.new-select
								border-top-left-radius: 8px
								border-bottom-left-radius: 8px

						&:last-child
							.new-select
								border-top-right-radius: 8px
								border-bottom-right-radius: 8px

						&:not(:last-child)
							.new-select
								border-right: none

						.new-select

							position: relative
							border: 1px solid #ced4da
							padding-top: 10px
							padding-right: 39px
							padding-bottom: 10px
							padding-left: 15px
							cursor: pointer
							user-select: none

							white-space: nowrap
							overflow: hidden
							text-overflow: ellipsis

							// border-right: none

						.new-select__list
							position: absolute
							top: 55px
							left: 0

							padding-top: 10px
							padding-bottom: 10px

							cursor: pointer
							width: 100%
							z-index: 3
							background: #fff
							user-select: none

							background: #FDFDFD
							box-shadow: -1px 1px 15px rgba(35, 31, 32, 0.2)
							border-radius: 8px

						.new-select__list.on
							display: block

						.new-select__item
							position: relative
							&::before
								content: ""
								position: absolute
								top: 50%
								left: 16px
								transform: translateY(-50%)
								width: 24px
								height: 24px
								border: 1px solid #9AA0B3
								border-radius: 4px

							&.check-box-item
								&::before
									content: ""
									background: green
									border-color: blue

							span
								display: block
								padding-top: 10px
								padding-right: 15px
								padding-bottom: 10px
								padding-left: 50px

								&:hover
									color: #12b223
								&:first-child
									border-top-right-radius: 8px
									border-top-left-radius: 8px
								&:last-child
									border-bottom-right-radius: 8px
									border-bottom-left-radius: 8px

						.new-select:after
							content: ''
							display: block
							width: 25px
							height: 25px
							position: absolute
							right: 9px
							top: 9px
							background: url('/assets/images/elements/chevron-down.svg') no-repeat right center / cover
							opacity: 1
							transition: all .27s ease-in-out
							transform: rotate(0deg)

						.new-select.on:after
							transform: rotate(180deg)
					.input-data
						flex-basis: 100%
						position: relative
						&:last-child
							button
								border-top-right-radius: 8px
								border-bottom-right-radius: 8px
								border-right: 1px solid #ced4da

						button
							display: block
							width: 100%
							background: white
							border: 1px solid #ced4da
							border-right: none
							text-align: start

							padding-top: 10px
							padding-right: 39px
							padding-bottom: 10px
							padding-left: 15px
							&::after
								content: ''
								display: block
								width: 25px
								height: 25px
								position: absolute
								right: 9px
								top: 9px
								background: url('/assets/images/elements/chevron-down.svg') no-repeat right center / cover
								opacity: 1
								transition: all .27s ease-in-out
								transform: rotate(0deg)

							&.on
								&::after
									transform: rotate(180deg)

						.input-group
							display: none

							position: absolute
							top: 60px
							right: 0
							width: 465px
							height: 127px
							padding: 24px 16px 24px 16px

							background: #FDFDFD
							box-shadow: -1px 1px 15px rgba(35, 31, 32, 0.2)
							border-radius: 8px
							z-index: 3
							transition: none

							fieldset
								display: flex
								width: 100%

								label
									font-weight: 400
									font-size: 16px
									input
										border-radius: 8px
										height: 56px
										border: 1px solid #1C2540

										&:focus
											box-shadow: none
										&::placeholder
											color: #8C93A9
											font-size: 16px

									&:first-child input
										border-top-right-radius: 0
										border-bottom-right-radius: 0
										border-right: none
									&:last-child input
										border-top-left-radius: 0
										border-bottom-left-radius: 0

			.filter-action-buttons
				// flex-basis: 100%
				margin-top: 10px
				button
					font-size: 16px
					font-weight: bold
					color: white
					border: none
					padding: 8px 40px
					margin-right: 16px
					background: linear-gradient(87.78deg, #540666 0%, #A64380 150.61%)
					box-shadow: -5px 8px 14px rgba(83, 6, 102, 0.22)
					border-radius: 8px
				a
					font-weight: 400
					font-size: 16px
					color: #8C93A9

section.cars-block-catalog-section
	.container-fluid
		.row
			.col
				span.title-stock
					font-size: 24px
					font-weight: bold
					color: #530666
					margin-left: 10px
					margin-right: 10px
				p.title-stock
					margin-bottom: 0
					margin-top: 4px
				img.title-stock
					width: 32px
					height: 32px

	@import ../layouts/car-card-single
