
section.cars-block-types-catalog-section
	.container-fluid
		.row
			@media (max-width: 767px)
				margin-left: -16px

			#cars-types-catalog

				--carousel-button-bg: #fff

				--carousel-button-width: 50px
				--carousel-button-height: 50px

				--carousel-button-svg-width: 18px
				--carousel-button-svg-height: 18px
				--carousel-button-svg-stroke-width: 1.5

				position: relative
				overflow-x: hidden
				.carousel__nav
					button
						z-index: 10
						box-shadow: 1px 2px 14px rgba(72, 72, 72, 0.35)
						&.carousel__button.is-prev
							top: 46%
							left: 14px
							svg
								margin-right: 1px
								margin-top: 1px
							&:disabled
								opacity: 0.6
								left: -10%

								transform: scale(0)
								transition: all .5s

							@media (max-width: 575px)
								width: 24px
								height: 24px
								padding: 9px

						&.carousel__button.is-next
							top: 46%
							right: 14px
							svg
								margin-right: 1px
								margin-top: 1px
							&:disabled
								opacity: 0
								right: -10%

								transition: all .5s

							@media (max-width: 575px)
								width: 24px
								height: 24px
								padding: 9px

				.carousel__viewport
					width: calc(100% + 32px)
					max-width: none
					margin-left: -16px

					&::before
						content: ''
						position: absolute
						top: 0
						left: 0
						width: 100%
						height: 100%
						box-shadow: 100px 3px 16px -81px rgba(255, 255, 255, 1) inset, -100px 3px 16px -81px rgba(255, 255, 255, 1) inset
						pointer-events: none
						z-index: 1

					.carousel__track

						.carousel__slide
							max-width: fit-content

							@media (max-width: 767px)
								padding-right: 5px

								&:last-child
									padding-right: 20px

							.checkbox-style
								display: block
								position: relative
								height: 100px
								width: 100px
								overflow: initial
								text-align: center
								border-radius: 0.25rem
								box-shadow: 0px 0px 3px 0px rgba(75, 75, 75, 0.52)

								span
									font-size: 12px
									font-weight: normal

								input[type=checkbox]
									appearance: none

									display: block
									cursor: pointer

									position: relative
									z-index: -1

									width: 100%
									height: 100%
									padding: .4rem

									background-size: contain
									background-repeat: no-repeat
									background-position: center
									background-origin: content-box

									border-radius: 0.25rem
									transition: all .1s

								input[type=checkbox]:checked
									background-size: contain
									background-repeat: no-repeat
									background-position: center

									// outline: 1px solid #ff60009e
									box-shadow: -5px 8px 14px rgba(63, 60, 66, 0.32)
									border-radius: 0.25rem
									transition: all .3s
									filter: invert(11%) sepia(56%) saturate(500%) hue-rotate(250deg) brightness(77%) contrast(125%)

								input[type=checkbox]:active
									background-size: contain
									background-repeat: no-repeat
									background-position: center

section.filter-bar-catalog-section

	border-radius: 8px
	.container-fluid
		.row
			form.selectors-panel
				display: flex
				flex-wrap: wrap
				height: 48px

				@media (max-width: 767px)
					height: auto

				.select-wrapper
					display: flex
					width: 100%

					@media (max-width: 767px)
						flex-direction: column

					.select
						display: block
						flex-basis: 100%
						position: relative

						@media (max-width: 767px)
							margin-bottom: 10px
							border: 1px solid #dfdfdf
							border-radius: 8px

						&:first-child
							.new-select
								border-top-left-radius: 8px
								border-bottom-left-radius: 8px
								@media (max-width: 767px)
									border-bottom-left-radius: 0
									border-bottom-right-radius: 0

						&:last-child
							.new-select
								border-top-right-radius: 8px
								border-bottom-right-radius: 8px

						&:not(:last-child)
							.new-select
								border-right: none

						.new-select

							position: relative
							border: 1px solid #ced4da
							padding-top: 10px
							padding-right: 39px
							padding-bottom: 10px
							padding-left: 15px
							cursor: pointer
							user-select: none

							white-space: nowrap
							overflow: hidden
							text-overflow: ellipsis

							@media (max-width: 767px)
								border: none
								border-radius: 8px
								background: rgba(0, 0, 0, 0.008)
								font-size: 16px
								font-weight: bold

						.new-select__list
							position: absolute
							top: 55px
							left: 0

							padding-top: 10px
							padding-bottom: 10px

							cursor: pointer
							width: 100%
							z-index: 3
							background: #fff
							user-select: none

							background: #FDFDFD
							box-shadow: -1px 1px 15px rgba(0, 0, 0, 0.3)
							border-radius: 8px

							@media (max-width: 767px)
								position: relative
								top: 0
								padding-top: 0
								box-shadow: none

								border-top-left-radius: 0
								border-top-right-radius: 0

								background: rgba(0, 0, 0, 0.008)

						.new-select__list.on
							display: block

						.new-select__item
							position: relative

							&::before
								content: ""
								position: absolute
								top: 50%
								left: 16px
								transform: translateY(-50%)
								width: 24px
								height: 24px
								border: 1px solid #9AA0B3
								border-radius: 4px

							&.check-box-item
								&::before
									content: ""
									background: green
									border-color: blue

							span
								display: block
								padding-top: 10px
								padding-right: 15px
								padding-bottom: 10px
								padding-left: 50px

								&:hover
									color: #12b223
								&:first-child
									border-top-right-radius: 8px
									border-top-left-radius: 8px
								&:last-child
									border-bottom-right-radius: 8px
									border-bottom-left-radius: 8px

						.new-select:after
							content: ''
							display: block
							width: 25px
							height: 25px
							position: absolute
							right: 9px
							top: 9px
							background: url('/assets/images/elements/chevron-down.svg') no-repeat right center / cover
							opacity: 1
							transition: all .27s ease-in-out
							transform: rotate(0deg)

						.new-select.on:after
							transform: rotate(180deg)

					.input-data
						flex-basis: 100%
						position: relative

						&:last-child
							button
								border-top-right-radius: 8px
								border-bottom-right-radius: 8px
								border-right: 1px solid #ced4da
								@media (max-width: 575px)
									border: none
									background: rgba(0, 0, 0, 0.008)

						@media (max-width: 767px)
							margin-bottom: 10px
							border: 1px	solid #dfdfdf
							border-radius: 8px

						button
							display: block
							width: 100%
							background: white

							text-align: start

							border: 1px solid #ced4da
							border-right: none

							padding-top: 10px
							padding-right: 39px
							padding-bottom: 10px
							padding-left: 15px
							&::after
								content: ''
								display: block
								width: 25px
								height: 25px
								position: absolute
								right: 9px
								top: 9px
								background: url('/assets/images/elements/chevron-down.svg') no-repeat right center / cover
								opacity: 1
								transition: all .27s ease-in-out
								transform: rotate(0deg)

							@media (max-width: 767px)
								border: none
								background: rgba(0, 0, 0, 0.008)
								font-size: 16px
								font-weight: bold

							&.on
								&::after
									transform: rotate(180deg)

						.input-group
							display: none

							position: absolute
							top: 60px
							right: 0
							width: 465px
							height: 127px
							padding: 24px 16px 24px 16px

							background: #FDFDFD
							box-shadow: -1px 1px 15px rgba(35, 31, 32, 0.2)
							border-radius: 8px
							z-index: 3
							transition: none

							@media (max-width: 767px)
								position: relative
								width: auto
								height: auto
								top: 0
								box-shadow: none

								padding-top: 0px
								padding-bottom: 10px

								border: none
								background: rgba(0, 0, 0, 0.008)

								fieldset
									display: flex
									width: 100%

									label
										font-weight: 400
										font-size: 14px
										input
											border-radius: 8px
											height: 56px
											border: 1px solid #8C93A9
											background-color: white

											&:focus
												box-shadow: none
												border: 1px solid #1C2540

											&::placeholder
												color: #8C93A9
												font-size: 16px

										&:first-child input
											border-top-right-radius: 0
											border-bottom-right-radius: 0
											border-right: none

										&:last-child input
											border-top-left-radius: 0
											border-bottom-left-radius: 0
											&:focus
												border-left: 1px solid #8C93A9

				.filter-action-buttons
					margin-top: 10px

					@media (max-width: 575px)
						display: flex
						flex-direction: column
						width: 100%
						text-align: center

					button
						font-size: 16px
						font-weight: bold
						color: white
						border: none
						padding: 8px 40px
						margin-right: 16px
						background: linear-gradient(87.78deg, #540666 0%, #A64380 150.61%)
						box-shadow: -5px 8px 14px rgba(83, 6, 102, 0.22)
						border-radius: 8px

						@media (max-width: 575px)
							margin-right: 0
							margin-bottom: 16px

					a
						font-weight: 400
						font-size: 16px
						color: #8C93A9

section.cars-block-catalog-section
	.container-fluid
		.row
			.col
				span.title-stock
					font-size: 24px
					font-weight: bold
					color: #530666
					margin-left: 10px
					margin-right: 10px

					@media (max-width: 767px)
						margin-right: 0
						font-size: 18px

				p.title-stock
					margin-bottom: 0
					margin-top: 4px
					font-weight: normal

				img.title-stock
					width: 32px
					height: 32px

					@media (max-width: 767px)
						margin-top: 5px
						width: 28px
						height: 28px

	@import ../layouts/car-card
