section.main-banner

	img
		width: 100%
		height: 70vh
		object-fit: cover
		object-position: center

section.cars-block-tab-section
	.container-fluid
		.row
			.nav-tabs

				border: none

				li
					display: flex
					border-radius: 8px
					height: 48px
					// border: 1px solid #8C93A9
					box-shadow: 0px 0px 0px 1px #8C93A9
					&:first-child
						margin-right: 48px
					&:last-child
						display: flex
						align-self: center
						align-items: center

						margin-left: auto
						background: #FFFFFF
						box-shadow: -5px 8px 14px rgba(83, 6, 102, 0.22)
						border-radius: 8px
						border: 1px solid #540666

					.show-all-button
						font-weight: 600
						font-size: 20px
						margin-left: auto
						line-height: 120%

						padding: 0 16px

					button
						font-weight: 400
						font-size: 16px
						border-radius: 0
						border: none
						padding: 0 1rem
						width: calc(100 + 10px)

						&.active
							font-size: 16px
							background-color: #530666
							color: white
							-webkit-text-stroke-width: 1px

						&:not(:last-child)
							border-right: 1px solid #8C93A9

						&:first-child
							border-top-left-radius: 8px
							border-bottom-left-radius: 8px
						&:last-child
							border-top-right-radius: 8px
							border-bottom-right-radius: 8px

			.tab-content
				position: relative
				margin-top: 14px

				#type
					input
						background-size: 90%

				#brand
					input
						background-size: 80%

				#color
					input[type=checkbox]
						&:checked
							outline: 2px solid rgba(255, 255, 255, 1)

				#country
					.checkbox-style
						width: 170px
						input
							width: 170px
							&:checked
								outline: 2px solid rgba(255, 255, 255, 1)

				.tab-pane
					.carousel__nav
						button
							background: white
							box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 0.5)
							&.is-next
								top: 46%
								right: 0
							&.is-prev
								top: 46%
								left: 0
					.carousel__viewport
						.carousel__track
							.carousel__slide
								max-width: fit-content
								&:first-child
									padding-left: 3px
								&:last-child
									padding-right: 3px

								.checkbox-style

									display: block
									position: relative
									height: 100px
									width: 100px
									overflow: initial
									text-align: center
									border-radius: 0.25rem
									box-shadow: 0px 0px 3px 0px rgba(75, 75, 75, 0.52)

									span
										font-size: 14px
										font-weight: normal

									input[type=checkbox]
										-webkit-appearance: none
										-moz-appearance: none
										appearance: none

										display: block
										cursor: pointer

										position: relative
										z-index: -1

										width: 100%
										height: 100%

										background-size: contain
										background-repeat: no-repeat
										background-position: center
										background-origin: content-box

										border-radius: 0.25rem

									input[type=checkbox]:checked
										background-size: contain
										background-repeat: no-repeat
										background-position: center
										// filter: brightness(150%)
										// outline: 2px solid #4b4b4b
										outline: 2px solid #530666
										box-shadow: 0px 0px 10px 0px #272727 !important
										border-radius: 0.25rem

									input[type=checkbox]:active
										background-size: contain
										background-repeat: no-repeat
										background-position: center

			span.name-title-range
				display: block
				// margin-bottom: 20px
				margin-left: -7px

section.main-description-block-section

	&::after
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-size: cover
		opacity: 0.06
		background-repeat: no-repeat
		background-position: center
		z-index: -1

	.main-counters
		.counters-block
			&:not(:last-child)
				margin-right: 40px

		span.fas
			font-size: 50px
			background: linear-gradient(45deg, #2A4876 33%, #7B2A86 66%, #880046)
			-webkit-background-clip: text
			-webkit-text-fill-color: transparent
		.counters-block
			z-index: 1
			background-color: #fff
			border: 1px solid #530666

			.h5
				color: #2a3863ed

section.main-cars-block-section

	.container-fluid
		position: relative
		z-index: 1
		.row
			margin-top: 32px
			.category-block-title
				display: flex
				align-items: center

				.category-titile
					margin-bottom: 0
					font-size: 40px
					font-weight: bold
					margin-right: 64px
				.category-titile-url
					position: relative
					font-size: 24px
					font-weight: normal
					padding-right: 4px
					&::after
						content: ''
						position: absolute
						width: 24px
						height: 24px
						top: 54%
						left: 100%
						transform: translateY(-50%)
						background-image: url('/assets/images/elements/arrow-right.svg')

			@import ../layouts/car-card-carousel

			a.btn
				border-radius: 1px
				border-color: #530666
				background: white
				color: #530666
				padding: 8px 30px
				font-weight: 300
				&:hover
					background: linear-gradient(to bottom, #520565 0%,#540765 3%,#600f6b 10%,#601069 11%,#65126c 13%,#812975 27%,#852a77 28%,#97387c 37%,#a34080 46%,#a44181 53%,#9f3f7f 58%,#94347b 66%,#8e3379 69%,#8d2f79 69%,#812975 74%,#822776 75%,#7a2372 77%,#620f6b 89%,#5e0d69 90%,#510464 98%,#500265 100%)
					color: white

			.second-header-title
				position: absolute
				top: -12px
				left: -32px
				right: 0
				z-index: -1
				width: max-content
				transform: translate(-50%, -50%)
				text-align: center
				font-size: 66px
				opacity: 0.1
				color: #53066640
				text-transform: uppercase
				font-weight: bold
				text-align: left

				user-select: none
				cursor: default

section.main-about-us-section

	.container
		position: relative
		z-index: 1
		.row
			.main-header
				font-size: 64px
				font-weight: 600
			img

				border-radius: 8px
				filter: drop-shadow(-5px 8px 19px rgba(83, 6, 102, 0.15))

			p.lead
				font-size: 16px
				font-weight: normal
				color: #1C2540

section.main-about-us-section-posttitle
	img
		position: absolute
		width: 300px
		right: 7%
		top: 95%
		opacity: 1

section.main-about-us-section-second
	.container
		.row
			p.lead
				font-size: 16px
				font-weight: normal
				color: #1C2540

section.main-services-section
	// background: linear-gradient(180deg, rgba(251, 251, 251, 0) 0%, rgb(243, 244, 246) 100%)
	.container
		.row
			&:first-child

				img
					height: 390px
					object-fit: cover
					object-position: center
					border-top-left-radius: 8px
					border-bottom-left-radius: 8px
					border-top-right-radius: 0
					border-bottom-right-radius: 0

					margin: 0 1px -1px -1px
			&:last-child
				img
					height: 386px
					object-fit: cover
					object-position: center
					border-top-left-radius: 0
					border-bottom-left-radius: 0
					border-top-right-radius: 8px
					border-bottom-right-radius: 8px
					border-image-outset: -10px

					margin: 0 1px -1px 1px

			.card
				transition: all .3s
				&:hover
					box-shadow: rgba(0, 0, 0, 0.034) 0px 10px 10px -3px, rgba(0, 0, 0, 0.04) 0px 4px 6px -2px !important
				.card-body
					a
						width: min-content
					p
						font-size: 16px
						font-weight: normal
						color: #1C2540

section.main-faq-section
	.back-text-animation
		position: absolute
		top: 78%
		left: 0
		text-align: center
		transform: translate(-50%, -50%)
		font-size: 141px
		opacity: 1
		z-index: 0
		color: #ffffff82
		text-transform: uppercase
		font-weight: bold

		user-select: none
		cursor: default
	img
		position: absolute
		width: 500px
		right: 0.7%
		top: 15%
