section.single-gallery-block
	.container
		.row
			.gallery-block
				display: grid
				grid-template-columns: 1fr 1fr 1fr 1fr
				gap: 20px
				img
					width: 100%
					height: 200px
					object-fit: cover
