<footer class="footer mt-2 mt-lg-5 pt-3 pt-lg-5 text-dark pb-3 @@classes">
	<div class="container">
		<div class="row">
			<div class="col footer-image">
				<img src="@@path/assets/images/logo-header-black.png" loading="lazy" class="footer-logo" alt="..." />
			</div>

			<div class="col phone-area-footer">
				<div class="d-flex">
					<div class="">
						<i class="fa fa-phone"></i>
					</div>
					<div class="">
						<h4 class="h5">Телефоны</h4>
						<p class="mb-0"><a class="text-muted" href="tel:+79604729771">+7 (960) 472 97 71</a></p>
					</div>
				</div>
			</div>

			<div class="col email-area-footer">
				<div class="d-flex">
					<div class="">
						<i class="fa fa-envelope"></i>
					</div>
					<div class="">
						<h4 class="h5">Почта</h4>
						<p class="mb-0"><a class="text-muted" href="mailto:kubanskiy.produkt.2006@ya.ru">info@sanaevmoscow.com</a></p>
					</div>
				</div>
			</div>

			<div class="col address-area-footer">
				<div class="d-flex">
					<div class="">
						<i class="fa fa-home"></i>
					</div>
					<div class="">
						<h4 class="h5">Адрес</h4>
						<p class="mb-0"><a class="text-muted" target="_blank" href="https://yandex.ru/navi/?whatshere%5Bpoint%5D=39.221037%2C45.204693&amp;whatshere%5Bzoom%5D=18&amp;lang=ru&amp;from=navi">2-я Рыбинская улица, 13</a></p>
					</div>
				</div>
			</div>

			<div class="col social-icons-area-footer">
				<li class="social-items-list">
					<a href=""><span class="fab fa-whatsapp pr-2"></span>WhatsApp</a>
					<a href=""><span class="fab fa-telegram"></span>Telegram</a>
					<a href=""><span class="fab fa-vk"></span>Вконтакте</a>
					<a href=""><span class="fab fa-youtube"></span>YouTube</a>
				</li>
			</div>

			<div class="col shedule-area-footer">
				<div class="d-flex">
					<div class="">
						<i class="fa fa-envelope"></i>
					</div>
					<div class="">
						<h4 class="h5">График работы</h4>
						<p class="mb-0"><a class="text-muted" href="mailto:kubanskiy.produkt.2006@ya.ru">Ежедневно с 08:00 до 20:00</a></p>
					</div>
				</div>
			</div>

			<div class="col navigation-area-footer">
				<div class="d-flex">
					<div class="">
						<i class="fa fa-bars"></i>
					</div>
					<div class="nav-items-wrapper">
						<h4 class="h5 text-dark mb-3">Навгиация по сайту</h4>
						<ul class="row">
							<div class="col d-flex flex-column">
								<li><a class="text-muted" href="#">Автопарк</a></li>
								<li><a class="text-muted" href="#">Услуги</a></li>
								<li><a class="text-muted" href="#">Фото</a></li>
							</div>
							<div class="col d-flex flex-column">
								<li><a class="text-muted" href="#">Контакты</a></li>
								<li><a class="text-muted" href="#">Парнтеры</a></li>
								<li><a class="text-muted" href="#">Новости</a></li>
							</div>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Social Networks -->

		<div class="row justify-content-between footer-footer-line pt-3 mx-0">
			<div class="col px-0">© 2009-2022 Sanaev Moscow - Все права защищены</div>
			<div class="col px-0 text-sm-end"><a class="" href="#">Пользовательское соглашение</a></div>
		</div>
		<!-- End Social Networks -->
	</div>
</footer>
