<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="@@path/assets/css/bootstrap.css" />

<!-- jQuery UI -->
<link rel="stylesheet" href="@@path/assets/css/jquery-ui.css" />

<!-- Fontawesome -->
<link rel="stylesheet" href="@@path/vendor/@fortawesome/fontawesome-free/css/all.min.css" />

<!-- jQuery Brazzers Carousel -->
<link rel="stylesheet" href="@@path/vendor/brazzers-carousel/Brazzers-Carousel/jQuery.Brazzers-Carousel.min.css" />

<!-- FancyApp -->
<link rel="stylesheet" href="@@path/vendor/@fancyapps/ui/dist/fancybox.css" />

<!-- Vanilla JS Datepicker -->
<link rel="stylesheet" href="@@path/vendor/vanillajs-datepicker/dist/css/datepicker.min.css" />

<!-- Main Overflow -->
<link rel="stylesheet" href="@@path/assets/css/main-overflow.css" />

<title>@@title</title>
