<header class="header-global">
	<nav id="navbar-main" aria-label="Меню навигации" class="navbar navbar-main navbar-expand-lg">
		<div class="container position-relative">
			<a href="#" class="d-block d-sm-none">
				<img src="@@path/assets/images/phone-header.svg" alt="tel" />
			</a>

			<a class="navbar-brand me-n4 me-xl-n4" href="@@path/index.html">
				<img class="navbar-brand-logo d-block" src="@@path/assets/images/logo-header-black.png" alt="Logo light" />
			</a>

			<div class="navbar-collapse collapse justify-content-center" id="navbar_global">
				<div class="navbar-collapse-header">
					<div class="row d-flex flex-nowrap align-items-center mx-n4 mx-sm-0">
						<div class="col">
							<ul class="navbar-nav lang d-flex flex-nowrap flex-row">
								<li class="nav-item">
									<a href="@@path/html/pages/contacts.html" class="nav-link">RU</a>
								</li>
								<li class="nav-item">
									<a href="@@path/html/pages/contacts.html" class="nav-link lang-active">ENG</a>
								</li>
							</ul>
						</div>
						<div class="col collapse-close">
							<a
								href="#navbar_global"
								class="fas fa-times"
								data-bs-toggle="collapse"
								data-bs-target="#navbar_global"
								aria-controls="navbar_global"
								aria-expanded="false"
								title="Закрыть"
								aria-label="Toggle navigation"
							></a>
						</div>
					</div>
				</div>

				<ul class="navbar-nav align-items-lg-center">
					<li class="nav-item">
						<a href="@@path/html/pages/catalog.html" class="nav-link">Автопарк</a>
					</li>
					<li class="nav-item">
						<a href="@@path/html/pages/services.html" class="nav-link">Услуги</a>
					</li>
					<li class="nav-item">
						<a href="@@path/html/pages/gallery.html" class="nav-link">Галерея</a>
					</li>
					<li class="nav-item">
						<a href="@@path/html/pages/contacts.html" class="nav-link">Контакты</a>
					</li>

					<li class="soc-icons-block-mobile">
						<a href="tel:+7 495 095 10 88" class="telephone-header d-block d-lg-none">+7 495 095 10 88</a>
						<ul>
							<li class="d-flex d-lg-none nav-item">
								<a href="https://themesberg.com/product/ui-kit/pixel-pro-premium-bootstrap-5-ui-kit" target="_blank" class="btn whatsapp-btn pe-0">
									<img src="@@path/assets/images/social-icons/whatsapp.svg" alt="" />
								</a>
							</li>
							<li class="d-flex d-lg-none nav-item">
								<a href="https://themesberg.com/product/ui-kit/pixel-pro-premium-bootstrap-5-ui-kit" target="_blank" class="btn telegram-btn">
									<img src="@@path/assets/images/social-icons/telegram.svg" alt="" />
								</a>
							</li>
						</ul>
					</li>

					<form class="d-none d-xl-flex" role="search">
						<input class="form-control" type="search" placeholder="поиск" aria-label="Поиск" />
						<button class="btn btn-outline-success" type="submit">
							<!-- <i class="fas fa-search"></i> -->
						</button>
					</form>

					<div class="dropdown d-none d-lg-block">
						<button class="btn btn-secondary dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">RU</button>

						<ul class="dropdown-menu">
							<li><a class="dropdown-item active-link" href="#">RU</a></li>
							<li><a class="dropdown-item" href="#">ENG</a></li>
						</ul>
					</div>
				</ul>

				<a href="tel:+7 495 095 10 88" class="telephone-header d-none d-lg-block">+7 495 095 10 88</a>
			</div>

			<div class="ms-auto soc-icons-block d-none d-sm-flex">
				<a href="https://themesberg.com/product/ui-kit/pixel-pro-premium-bootstrap-5-ui-kit" target="_blank" class="whatsapp-btn">
					<img src="@@path/assets/images/social-icons/whatsapp.svg" alt="" />
				</a>
				<a href="https://themesberg.com/product/ui-kit/pixel-pro-premium-bootstrap-5-ui-kit" target="_blank" class="telegram-btn">
					<img src="@@path/assets/images/social-icons/telegram.svg" alt="" />
				</a>
			</div>

			<div class="d-flex align-items-center">
				<button
					id="hamburger-menu-button"
					class="navbar-toggler ms-2"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbar_global"
					aria-controls="navbar_global"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</div>
	</nav>
</header>
