<header class="header-global">
	<nav id="navbar-main" aria-label="Меню навигации" class="navbar navbar-main navbar-expand-lg navbar-theme-primary @@classes">
		<div class="container position-relative">
			<a class="navbar-brand me-lg-5" href="@@path/index.html">
				<img class="navbar-brand-logo" src="@@path/assets/images/logo-header-black.png" alt="Logo light" />
			</a>
			<div class="navbar-collapse collapse me-auto justify-content-center" id="navbar_global">
				<div class="navbar-collapse-header">
					<div class="row">
						<div class="col-6 collapse-brand">
							<a href="@@path/index.html">
								<img src="@@path/assets/images/logo-header.png" alt="Themesberg logo" />
							</a>
						</div>
						<div class="col-6 collapse-close">
							<a href="#navbar_global" class="fas fa-times" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
						</div>
					</div>
				</div>
				<ul class="navbar-nav navbar-nav-hover align-items-lg-center">
					<li class="nav-item">
						<a href="@@path/html/pages/catalog.html" class="nav-link">Автопарк</a>
					</li>
					<li class="nav-item">
						<a href="@@path/html/pages/services.html" class="nav-link">Услуги</a>
					</li>
					<li class="nav-item">
						<a href="@@path/html/pages/gallery.html" class="nav-link">Галерея</a>
					</li>
					<li class="nav-item">
						<a href="@@path/html/pages/contacts.html" class="nav-link">Контакты</a>
					</li>
				</ul>
			</div>
			<div class="d-flex align-items-center">
				<a href="https://themesberg.com/product/ui-kit/pixel-pro-premium-bootstrap-5-ui-kit" target="_blank" class="btn btn-tel-header"> +7 (495) 095-10-88 </a>
				<a href="https://themesberg.com/product/ui-kit/pixel-pro-premium-bootstrap-5-ui-kit" target="_blank" class="btn whatsapp-btn">
					<i class="fab fa-whatsapp"></i>
				</a>
				<a href="https://themesberg.com/product/ui-kit/pixel-pro-premium-bootstrap-5-ui-kit" target="_blank" class="btn telegram-btn">
					<i class="fab fa-telegram"></i>
				</a>
				<button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</div>
	</nav>
</header>
