<script src="@@path/vendor/jquery/dist/jquery.min.js"></script>
<script src="@@path/assets/js/jquery-ui.min.js"></script>
<script src="@@path/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="@@path/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
<script src="@@path/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>
<script src="@@path/vendor/headroom.js/dist/headroom.min.js"></script>
<script src="@@path/vendor/@fancyapps/ui/dist/fancybox.umd.js"></script>
<script src="@@path/vendor/vanillajs-datepicker/dist/js/datepicker.min.js"></script>
<script src="@@path/vendor/simple-parallax-js/dist/simpleParallax.min.js"></script>

<script src="@@path/vendor/brazzers-carousel/Brazzers-Carousel/jQuery.Brazzers-Carousel.min.js"></script>
<script src="@@path/vendor/rellax/rellax.min.js"></script>

<!-- Pixel JS -->
<script src="/assets/js/pixel.js"></script>
<script type="module" src="/assets/js/main.js"></script>
