<!-- jQuery -->
<script src="@@path/vendor/jquery/dist/jquery.min.js"></script>

<!-- jQuery UI -->
<script src="@@path/assets/js/jquery-ui.min.js"></script>

<!-- Bootstrap -->
<script src="@@path/assets/js/bootstrap.min.js"></script>

<!-- FancyApp -->
<script src="@@path/vendor/@fancyapps/ui/dist/fancybox.umd.js"></script>

<!-- Brazzers Carousel -->
<script src="@@path/vendor/brazzers-carousel/Brazzers-Carousel/jQuery.Brazzers-Carousel.min.js"></script>

<!-- Main -->
<script src="/assets/js/main.js"></script>
