@import mixins/vertical-lines

@import pages/index
@import pages/catalog
@import pages/single-car
@import pages/services
@import pages/single-service
@import pages/gallery
@import pages/single-gallery
@import pages/brand
@import pages/contacts

@import layouts/header
@import layouts/section
@import layouts/footer
@import layouts/page-title-section
@import layouts/advantages
@import layouts/booking-order
@import layouts/content-section

@import utilites/animations

@import components/buttons
@import components/decorations

@import helpers/text-gradients
@import helpers/borders

body
	// overflow-x: hidden

	&::before
		position: absolute
		content: ""
		top: 0
		right: 0
		bottom: 0
		left: 0
		background: black
		z-index: -100
		// transition: opacity 0.5s linear
		opacity: 0

	&.body-background-enable
		&::before
			z-index: 10
			opacity: 0.6

// jQuery Brazzers Carousel
.tmb-wrap-table div.active
	border-color: #530666

@keyframes fadeInFromNone
	0%
		display: none
		opacity: 0

	100%
		display: block
		opacity: 1

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
	-webkit-appearance: none
	margin: 0

/* Firefox */
input[type=number]
  -moz-appearance: textfield

.h2
	font-size: 40px

	@media (max-width: 1199px)
		font-size: 36px

	@media (max-width: 991px)
		font-size: 32px

	@media (max-width: 767px)
		font-size: 28px

	@media (max-width: 575px)
		font-size: 24px !important

.h3
	font-size: 32px
	@media (max-width: 575px)
		font-size: 20px !important

// rollup blocks for index page (height, shadow)
.open-block
	height: auto !important
	-webkit-line-clamp: none !important
	&::before
		box-shadow: none !important
